This line is deliberately empty because...uhm....hack...
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>;;TITLE;;</title>
    <link rel="stylesheet" type="text/css" href="/qudicalwiki/styles/style.css">
    <link rel="shortcut icon" type="image/png" href="/qudicalwiki/assets/template/favicon.png">
</head>
<body>
    <div class="topnav">
        <a href="/qudicalwiki/index.html">
            <img src="/qudicalwiki/assets/template/headerimage.png" alt="Qudical Developer Wiki">
        </a>
    </div>
    <div class="sidebar">
        ;;SIDEBAR_LINKS;;
    </div>
    <div class="article">
        ;;ARTICLE;;
    </div>
    <div class="footer">
        ;;FOOTER;;
    </div>
</body>
</html>